.DS_Store
.vscode
**/__pycache__
configs/*
!configs/config_demo.json
*.pbs
standardisation_*
demo_*.ipynb
TODO.txt
experiments/
data_varseek/
data_demo/histology_breast_demo.tif
data_demo/nuclei_breast_demo.tif
data_demo/images
data_demo/he_image.tif
data_demo/he_image_nuclei_seg.tif
data_demo/variant_data
losses.csv
cells_by_type_breast2.tif
restructure_test*
README_old.md
inference_test.py
data_processing_demo
data_processing_demo.zip
params_*
dataio/dataset_input_*.py
